@font-face {
  font-family: "CustomFont";
  src: url("/fonts/Nexa-Regular.otf");
  font-weight: bolder;
}

body {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.nexa-font {
  font-family: "CustomFont";
  font-weight: bolder;
}
.background-animation {
  background: linear-gradient(
    -45deg,
    #ff80b553,
    #9189fc4c,
    #23a5d556,
    #23d5ab48
  );
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.hero-stats {
  border: 1px solid rgb(79 70 229 / 24%);
  width: -webkit-fill-available;
  padding: 29px;
  border-radius: 25px;
  background-color: #ffffff52;
}

*::-webkit-scrollbar {
  padding: 2px;
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: #e6e8ec;
}

*::-webkit-scrollbar-thumb {
  background-color: #5850ec;
  border-radius: 16px;
  /* border: 1px solid #ffffff; */
}

.hide-scroll-bar::-webkit-scrollbar {
  width: 1em;
  height: 5px;
}

.hide-scroll-bar::-webkit-scrollbar-track {
  background: #e6e8ec;
}

.hide-scroll-bar::-webkit-scrollbar-thumb {
  width: 1px;
  height: 10px;
  background-color: #5850ec;
  border-radius: 16px;
  /* border: 1px solid #ffffff; */
}
